.homepage {
  display: flex;
  /* justify-content: center; */
  justify-content: space-between;
  /* flex-direction: row; */

  flex-direction: row;
  height: 100vh;
  align-items: center;
  flex: auto;
  margin-top: 5em;
}

.penguinImage {
  display: block;
  margin: 0 auto;
  width: 40%;
}
.search-bar-text {
  padding: 0.1em;
  justify-content: normal;
  font-size: 0.8em;
  color: blue;
  margin: 0.5em;
  width: 250px;
  border-color: green;
  border-width: 10px;
}

.app {
  display: flex;
  justify-content: center;
}

/* .backgroundImage {
  display: flex;
  flex: 1;
  display: block;
  margin: 25 auto;
  width: 60% !important;
  height: 40% !important;
} */
.barChart {
  display: flex;
  flex: 1;
  display: block;
  /* margin: 100 auto; */
  /* padding-bottom: 100px; */
  width: 70% !important;
  /* height: 200px !important; */
}

.doughnutChart {
  display: flex;
  flex: 1;
  display: block;
  /* margin: 25 auto; */
  margin-bottom: 35px;
  /* padding-bottom: 40px; */

  width: 50% !important;
  height: 20% !important;
}

.welcomeText {
  display: flex;
  justify-content: center;
  font-size: larger;
}

.credits {
  margin-top: 1em;
}
.search-section {
  display: flex;
  flex: 1;
  flex-direction: column;
  flex: 1;
  padding: 2em 1em;
}

.graph-section {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.grap-item {
  display: flex;
  flex: 1;
  justify-content: center;
  width: 5000px !important;

  /* margin-top: 50px; */
}
