.my_app {
  margin-bottom: 5em;
  padding-top: 1em;
}

.pos_neg {
  display: flex;
  margin-top: 3em;
  font-size: medium;
  justify-content: space-between;
}

.pos_list,
.neg_list {
  width: 40%;
  justify-content: center;
}

.pos_title,
.neg_title {
  font-size: large;
}

.pos_title {
  color: #4e937a;
}

.neg_title {
  color: #ff2320;
}
